{% extends "base.html" %}
{% block content %}
<div class="main-cam">
    <h1>لیست دوربین ها</h1>
    <div class="panel">
        <div class="left-panel">
            <h3>information</h3>
            <div class="single-cam-info">
                <div class="info-row">
                    <p><span class="label">آدرس IP:</span> <span class="value"></span></p>
                    <p><span class="label">نام دوربین:</span> <span class="value"></span></p>
                </div>
                <div class="info-row">
                    <p><span class="label">نوع دوربین:</span> <span class="value"></span></p>
                    <p><span class="label">منطقه:</span> <span class="value"></span></p>
                </div>
                <button><a href="#">افزودن دوربین</a></button>
            </div>
        </div>
        <div class="right-panel">
            <h3>اطلاعات دوربین</h3>
            <div class="form-container">
                <form action="#" method="post">
                    <label for="cam-ip">camera IP</label>
                    <input type="text" name="cam-ip" id="cam-ip">
        
                    <label for="cam-name">camera name</label>
                    <input type="text" name="cam-name" id="cam-name">
        
                    <label for="cam-type">camera type</label>
                    <input type="text" name="cam-type" id="cam-type">
        
                    <label for="cam-zone">zone</label>
                    <input type="text" name="cam-zone" id="cam-zone">
        
                    
                </form>
            </div>
        </div>
    </div>
</div>














{%endblock%}