{%extends 'base.html'%}
{% block title %}add camera{% endblock title %}

{% block content %}
<div class="add-camera-frm">
    <div class="add-cam-container">
        <h1>افزودن دوربین</h1>
        <form action="{{ url_for('camera.add_camera') }}" method="post" enctype="multipart/form-data">
            <input type="text" name='cam-ip' id="cam-ip" placeholder='دوربین ip' required>
            <input type="text" name='cam-name' id='cam-name' placeholder='نام دستگاه ' required>
            <input type="text" name='cam-username' id='cam-username' placeholder='نام کاربری' required>
            <input type="text" name='cam-type' id='cam-type' placeholder='نوع دستگاه' required>
            <input type="password" name='cam-password' id='cam-password' placeholder='رمز عبور' required>
            <select id="zone" name="cam-zone" required>
                <option value="">منطقه</option>
                {% for zone in zones %}
                    <option value="{{ zone.zone_name }}">{{ zone.zone_name }}</option>  <!-- Use zone_name for display -->
                {% endfor %}
            </select>
            <select name="is_recorded" id="record">
                <option value="1">فعال</option>
                <option value="0">غیر فعال</option>
            </select>

            <div class="multi-select">
                <div class="select-box" id="selectBox">
                    <span>تشخیص اشیا</span>
                    <i class="fas fa-chevron-down"></i>
                </div>
                <select name="ai_properties[]" id="ai_properties" class="ai_propertie" multiple>
                    {% for ai in ai_properties %}
                    <option value="{{ ai.name }}">{{ ai.label }}</option>
                    {% endfor %}
                </select>
                <div class="selected-items" id="selectedItems"></div>
            </div>
            <input type="file" name="file" id="file" placeholder="uplod an image">
            <button type="submit" class="btn">افزودن دوربین</button>

        </form>
    </div>
</div>

{% endblock content %}


