{%extends 'base.html'%}
{% block title %}add camera{% endblock title %}

{% block content %}
<div class="add-camera-frm">
    <div class="add-cam-container">
        <h1>افزودن دوربین</h1>
        <form action="#" method ="post">
            <input type="text" name='cam-ip' id="cam-ip" Placeholder='دوربین ip'>
            <input type="text" name='cam-name' id='cam-name' Placeholder='نام دستگاه '>
            <input type="text" name='cam-pass' id='cam-pass' Placeholder='نام کاربری'>
            <input type="text" name='cam-type' id='cam-type' Placeholder='نوع دستگاه'>
            <select id="gender">
                <option value="male">منطقه</option>
                <option value="female">منطقه 1 </option>
                <option value="other">منطقه 2 </option>
            </select>
            <button type="submit" class="btn">افزودن دوربین</button>

        </form>
    </div>
</div>
{% endblock content %}


