{%extends "base.html"%}
{% block title %}add zone{% endblock title %}
{% block content %}
<div class="add-zone-frm">
    <div class="add-zone-container">
        <h1>افزودن منطقه</h1>
        <form action="{{ url_for('zone.add_zone') }}" method ="post">
            <input type="text" name='zone-name' id='zone-name' Placeholder='نام منطقه '>
            <input type="text" name='zone-desc' id="zone-desc" Placeholder='توضیحات '>
            
            <button type="submit" class="btn">افزودن منطقه</button>

        </form>
    </div>
</div>

{% endblock content %}


