<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Camera Feed{% endblock title %}</title>

    <link
      rel="stylesheet"
      href="{{url_for('static' , filename='style/main.css')}}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"  
    />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet" type="text/css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/fa4b072534.js"
      crossorigin="anonymous"
    ></script>
    
  </head>
  <body>
    
    {% block header %}{% endblock header %}
    <header class="container" id="mainContainer">
      <nav>
          <div class="right-container">
            <h3 id="nav-title"></h3>
            <button  id="toggleDashboardBtn" class="toggle-icon">
              <i class="fa-solid fa-bars"></i>
             </button>
          </div>

        </div>
      </nav>
      <div class="backdrop hidden"></div>
      <div class="dashboard" id="dashboard">
        <div class="dashboard-logo">
          <a href="#">
            <img src="{{url_for('static' , filename='images/sepand 4 (1).svg')}}" alt="">
          </a>
        </div>
        <ul class="dashboard-list">
          <li class="dashboard-item">
            <a href="{{url_for('camera.camera_view')}}">
              <i class="home-icon"></i>
              <p class="header-title">نمای کلی</p>
            </a>
          </li>
          
          <li class="dashboard-item">
            <a href="{{url_for('camera.alerts')}}">
              <i class="alert-icon"></i>
              <p class="header-title">هشدار ها</p>
            </a>
          </li>

          <li class="dashboard-item">
            <a href="{{url_for('camera.cameras')}}">
              <i class="camera-icon"></i>
              <p class="header-title">دوربین ها</p>
            </a>
          </li>

          <li class="dashboard-item">
            <a href="{{url_for('zone.zones')}}">
              <i class="zone-icon"></i>
              <p class="header-title">منطقه</p>
            </a>
          </li>
          <li class="dashboard-item">
            <a>
              <i class="hr-icon"></i>
              <p class="header-title">منابع انسانی</p>
            </a>
          </li>
          <li class="dashboard-item">
            <a>
              <i class="useraction-icon"></i>
              <p class="header-title">اقدامات کاربر</p>
            </a>
          </li>
          <li class="dashboard-item">
            <a>
              <i class="backup-icon"></i>
              <p class="header-title">پشتیبانی</p>
            </a>
          </li>
          <li class="dashboard-item">
            <a href="{{url_for('camera.records')}}">
              <i class="monitoring-icon"></i>
              <p class="header-title">بازنشانی</p>
            </a>
          </li>
        </ul>

        <ul class="dahboard-list-down">
          <li>
            <a href="{{url_for('setting.setting')}}">
              <i class="setting-icon"></i>
              <p class="header-title">تنظیمات</p>
            </a>
          </li>
          <li>
            <a href="{{url_for('users.logout')}}">
              <i class="logout-icon"></i>
              <p class="header-title">خروج از حساب کاربری</p>
            </a>
          </li>
        </ul>
      </div>
    </header>


    <div class="main-style" id="mainStyle">
      {% block content %}
      {% if not current_user.is_authenticated %}
        {{url_for(users.login)}}
      {% else %}
        <!-- Other content for authenticated users -->
      {% endif %}
      {% endblock content %}
    </div>
  
    
    <!-- cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js"></script>
    
    <!--js files -->
    <script src="{{url_for('static' ,filename='scripts/app.js')}}"></script>
    <script src="{{url_for('static' ,filename='scripts/dom-changes.js')}}"></script>

    {% block scripts %}{% endblock scripts %}
  </body>
</html>