<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Camera Feed{% endblock title %}</title>
    <link
      rel="stylesheet"
      href="{{url_for('static' , filename='style/style.css')}}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/fa4b072534.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    {% block header %}{% endblock header %}
    <header class="container">
      <nav>
        <a href="{{url_for('index')}}">
        <p class="nav-logo">Netixsystem</p>
        </a>
        <div class="menu-btns">
          <button><a href="{{url_for('login')}}">ورود</a></button>
          <button><a href="#">تنظیمات</a></button>
          <i class="bx bxs-moon"></i>
          <button class="dashboard-moblie">
            <i class="bx bxl-microsoft"></i>
          </button>
        </div>
      </nav>
      <div class="backdrop hidden"></div>

      <div class="dashboard">
        <div class="icon-x">
          <i class="bx bx-x"></i>
        </div><a href="{{url_for('index')}}"><p class="dashboard-logo">Netixsystem</p></a>
        
        <ul class="dashboard-list">
          <li class="dashboard-item">
            <a href="{{url_for('camera_view')}}">
              <i class="fa-sharp fa-solid fa-expand"></i>
              <p>نمای کلی</p>
            </a>
          </li>

          <li class="dashboard-item">
            <a href="#">
              <i class="fa-solid fa-database"></i>
              <p>جمع آوری داده</p>
            </a>
          </li>

          <li class="dashboard-item">
            <a href="#">
              <i class="fa-solid fa-triangle-exclamation"></i>

              <p>هشدار ها</p>
            </a>
          </li>

          <li class="dashboard-item">
            <a href="{{url_for('cameras')}}">
              <i class="fa-solid fa-video"></i>

              <p>دوربین ها</p>
            </a>
          </li>

          <li class="dashboard-item">
            <a href="{{url_for('zones')}}">
              <i class="fa-solid fa-location-dot"></i>

              <p>منطقه</p>
            </a>
          </li>
        </ul>

        <ul class="dahboard-list-down">
          <li>
            <a href="#">
              <i class="fa-solid fa-gears"></i>

              <p>تنظیمات</p>
            </a>
          </li>

          <li>
            <a href="{{url_for('logout')}}">
              <i class="fa-duotone fa-solid fa-user-large"></i>

              <p>خروج</p>
            </a>
          </li>
        </ul>
      </div>
    </header>
    {% block messages %}{% endblock messages %}
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
  
    <div class="main-style">{% block content %}{% endblock content %}</div>
    <script src="{{url_for('static' ,filename='scripts/app.js')}}">

    </script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
