{% extends "base.html" %}
{% block content %}


    <div class="camera-container">
        <div class="camera-body">

            <div class="camera-main-content">
                <div class="camera-main-content-header">
                    <b>لیست دوربین ها </b>
                </div>
                <table class="camera-table">
                    <thead>
                        <tr>
                            <th class="numbers-list"></th>
                            <th class="camera-ip"> ادرس IP</th>
                            <th class="camera-name">نام دستگاه</th>
                            <th class="camera-type">نوع دستگاه</th>
                            <th class="camera-zone-name">نام منطقه</th>
                            <th class="camera-edit-btn-icon"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cam in camera %}
                        <tr class="camera-body-row"  data-camera-ip="{{camera.camera_ip}}">
                            <td class="body-cell-number">
                                <span class="row-number" lang="fa">{{ loop.index| persian }} </span>
                              </td>                            
                            <td style="color:red";> {{cam.camera_ip}}</td>
                            <td>{{cam.camera_name}}</td>
                            <td>{{cam.camera_type}}</td>
                            <td>{{cam.zone.zone_name}}</td>
                            <td>
                                <div class="cam-table-btns">
                                    <button class="camera-view-btn view-btn"></button>
                                    <button class="camera-delete-btn delete-btn" 
                                        data-camera-ip="{{ cam.camera_ip }}" 
                                        data-camera-name="{{ cam.camera_name }}" 
                                        onclick="deleteCamera(this)">
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- More rows here -->
                    </tbody>
                </table>
                
                <!-- Pagination Controls -->
                <div class="pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="overall-pagination">
                            <!-- Previous Page Button -->
                            <li class="overall-page-item {% if not pagination.has_prev %}disabled{% endif %}">
                                <a class="overall-page-link" href="{{ url_for('camera.cameras') }}?page={{ pagination.prev_num }}"><i class="arrow-left-circle"></i>قبلی</a>
                            </li>
                            
                            <!-- Page Number Links -->
                            {% for p in range(1, pagination.pages + 1) %}
                                <li class="overall-page-item {% if p == pagination.page %}active{% endif %}">
                                    <a class="overall-page-link" href="{{ url_for('camera.cameras') }}?page={{ p }}">{{ p }}</a>
                                </li>
                            {% endfor %}
                            
                            <!-- Next Page Button -->
                            <li class="overall-page-item {% if not pagination.has_next %}disabled{% endif %}">
                                <a class="overall-page-link" href="{{ url_for('camera.cameras') }}?page={{ pagination.next_num }}"><i class="arrow-right-circle"></i>بعدی</a>
                            </li>
                        </ul>
                    </nav>
                </div>
          
            </div>
        

            <!--add form -->
            <div class="camera-sidebar">
                <h3 class="camera-title">افزودن دوربین جدید</h3>
                <div class="add-form-container">
                <form action="{{url_for('camera.add_camera')}}" method="POST">
                    <input type="text" id="ipAddress"name="ipAddress"placeholder="آدرس IP" required class="input-camera-add-modal"/>

                    <div class="input-group-text">
                          
                        <div class="input-field">
                          <input
                            type="text"
                            id="deviceName"
                            name="deviceName"
                            placeholder=" نام دستکاه"
                            class="input-camera-add-modal"
                          />
                        </div>
                      <div class="input-field">
                          <input
                          type="text"
                          id="deviceType"
                          name="deviceType"
                          placeholder="نوع دستگاه"
                          required
                          class="input-camera-add-modal"
                        />
                      </div>
                    </div>

                    <div class="input-group-text">
                        <div class="input-field">
                        <input
                        type="text"
                        id="cameraUsername"
                        name="camera_username"
                        placeholder=" نام کاربری"
                        class="input-camera-add-modal"
                        />
                        </div>  
                        <div class="input-field">
                              <input
                              type="password"
                              id="cameraPassword"
                              name="camera_password"
                              placeholder=" رمز عبور"
                              required
                              class="input-camera-add-modal"
                            />
                        </div>
                    </div>
                  
                      <!-- Zone Dropdown -->

                    
                    <div class="custom-dropdown">
                        <div class="selected lable-cheekbox" id="cameraSelectedZones">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)">
                            <path d="m11.998 17 7-8h-14z"></path>
                        </svg> منطقه ها
                        </div>
                        <div class="options" id="zonesOptions">
                            {% for zone in zones %}
                            <label class="custom-radio-zones">
                            <input type="radio" name="zone_name" value="{{ zone.zone_name }}" />
                            <span style="">{{ zone.zone_name }}</span>
                            </label>
                            {% endfor %}
                        </div>
                    </div>
  
                  
                        <!-- Object Detection Section -->
                        <div class="bottom-options">
                            <div class="custom-dropdown">
                                <label class="dropdown-label" for="objectDetection">
                                    <h5>تشخیص اشیاء</h5>
                                </label>
                                <div class="selected label-checkbox" id="selectedObjectCameras">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)">
                                        <path d="m11.998 17 7-8h-14z"></path>
                                    </svg> تشخیص اشیا
                                </div>
                                <div class="options" id="ObjectCameraOptions">
                                    {% for ai in ai_properties %}
                                        <label class="custom-checkbox">
                                            <input type="checkbox" name="ai_properties" value="{{ ai.name }}" class="checkbox" />
                                            <span>{{ ai.label }}</span>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>

                          <!-- Recording Section -->
                          <div class="select-recording-box">
                            <label for="recordingSelect">
                              <h5>ضبط</h5>
                            </label>
                            <div id="selectedRecording" class="custom-select-label">
                              <span>ضبط</span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)">
                                <path d="m11.998 17 7-8h-14z"></path>
                            </svg>                          
                            </div>
                            <div id="recordingOptions" class="custom-select-options">
                              <div class="custom-radio-recording">
                                <input type="radio" id="recordingYes" name="is_record" value="1" />
                                <label for="recordingYes">
                                  <span>بله</span>
                                </label>
                              </div>
                              <div class="custom-radio-recording">
                                <input type="radio" id="recordingNo" name="is_record" value="0" />
                                <label for="recordingNo">
                                  <span>خیر</span>
                                </label>
                              </div>
                            </div>
                          </div>
                          
                                          
                      <!-- Form Actions -->
                        <div class="button-group" id="buttonGroup">
                            <!-- Initially hidden; will replace "افزودن" button -->
                            <button class="camera-add-btn">افزودن</button>

                        </div>
                    </div>
                  </form>
                </div>
            </div>

                                  
<div class="backdrop-modal"></div>
<!-- Camera Modal Popup -->
<div id="specific_camera_popup" class="specific_camera_popup">
    <div class="popup-content">
        <div class="cam-modal-header">
            <h4>دوربین: <span id="modal-camera-name">Camera Name</span></h4>
            <p>تاریخ و زمان: <span id="modal-camera-timestamp">Time</span></p>
        </div>
        <p>مشاهده موقعیت دوربین</p>
        <div class="popup-camera-frame">
            <!-- Overlay header -->
            <div class="camera-header-overlay">
                
                <div class="camera-header-right">
                    <span class="camera-header-zone" id="modal-camera-zone">اتاق مدیریت</span> - 
                    <span class="camera-header-name" id="modal-camera-name-header">دوربین test</span>
                </div>
                <div class="camera-header-left">
                    <span class="camera-header-time" id="modal-camera-timestamp">12:24:43</span>
                </div>
            </div>
            
            <!-- Camera view -->
             {% for cam in camera  %}
            <img src="{{ url_for('camera.video_feed', camera_ip=cam.camera_ip) }}" alt="{{ cam.camera_name }}" />
            {% endfor %}
            <!-- Bottom Icons -->
            <div class="camera-footer-icons">
                <div class="cam-footer-left">
                    <button>
                        <li class="share-icon"></li>
                    </button>
                </div>
                <div class="cam-footer-right">
                    <button>
                        <li class="group-icon"></li>
                    </button>                    
                    <button>
                        <li class="maximize-size-icon"></li>
                    </button>                    
                    <button>
                        <li class="search-zoom-out-icon"></li>
                    </button>                    
                    <button>
                        <li class="search-zoom-in-icon"></li>
                    </button>                    
                    <button>
                        <li class="gallery-icon"></li>
                    </button>                    
                    <button>
                        <li class="doc-download-icon"></li>
                    </button>                    
                    <button>
                        <li class="recording-icon"></li>
                    </button>                    

                </div>
            </div>
        </div>
        <div class="cam-modal-buttons">
            <button class="cameraPopup-return-btn">بازگشت</button>
        </div>
    </div>
</div>

{% block scripts %}<script src="{{url_for('static' ,filename='scripts/cameras.js')}}"></script>{% endblock scripts %}



{% endblock content %}