{% extends "base.html" %}
{% block content %}
<div class="main-cam">
    <div class="main-cam-list">
        <h1>لیست دوربین ها </h1>
        <div class="cam-list-container">

            {% for camera in cameras %}
            <div class="single-cam-container">
                <div class="camera-image-container">
                    {% if camera.camera_image_path %}
                <img src="{{ url_for('static', filename='uploads/' + camera.camera_image_path) }}" alt="{{ camera.camera_name }}">
            {% else %}
                <p>No image available</p>
            {% endif %}
                </div>
                <div class="single-cam-list">
                    <div class="single-cam">
                        <p>IP دوربین : {{ camera.camera_ip }}</p>
                    </div>
                    <div class="single-cam">
                        <p>نام دستگاه: {{ camera.camera_name }}</p>
                    </div>
                    <div class="single-cam">
                        <p>نوع دستگاه: {{ camera.camera_type }}</p>
                    </div>
                    <div class="single-cam">
                        <p>منطقه: {{ camera.zone.zone_name}}</p> <!-- Assuming 'zone' relationship is set up correctly -->
                    </div>
                </div>
            </div>
            {% endfor %}
            
            <div class='add-cam'>
                <a href="{{ url_for('add_camera') }}">
                    <button class='btn'>افزودن دوربین</button>
                </a>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}