{% extends "base.html" %}
{% block title %}Camera View{% endblock title %}

{% block content %}
<div class="video_container">
    <div class="video-player {% if layout == 1 %}layout-1{% elif layout == 4 %}layout-4{% elif layout == 9 %}layout-9{% elif layout == 16 %}layout-16{% endif %}">
        {% if message %}
        <h2>{{ message }}</h2>
        {% else %}
        <div class="grid-container">
            {% for camera in cameras %}
                <div class="grid-item">
                    {% if camera %}
                        <img src="{{ url_for('camera.video_feed', camera_ip=camera.camera_ip) }}" alt="{{ camera.camera_name }}">
                    {% else %}
                        <div class="placeholder">
                            <img src="{{ url_for('static', filename='placeholder.png') }}" alt="No Camera Connected">
                            <p>There is no connected camera.</p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% if not message %}
</div>
<div class="controls">
    <a href="{{ url_for('camera.camera_view', camera_ip=next_camera_ip) }}" class="view-btn">Next</a>
    <label for="volume"></label>
    
    <!-- Additional buttons within the controls section -->
    <div>
        <button onclick="window.location.href='{{ url_for('camera.camera_view', layout=1) }}'" class="control-btn">1 </button>
        <button onclick="window.location.href='{{ url_for('camera.camera_view', layout=4) }}'" class="control-btn">4 </button>
        <button onclick="window.location.href='{{ url_for('camera.camera_view', layout=9) }}'" class="control-btn">9 </button>
        <button onclick="window.location.href='{{ url_for('camera.camera_view', layout=16) }}'" class="control-btn">16</button>
    </div>
    <a href="{{ url_for('camera.camera_view', camera_ip=prev_camera_ip) }}" class="view-btn">Previous</a>
    <input type="range" id="volume" min="0" max="1" step="0.1" value="1"/>
</div>
{% endif %}
{% endblock %}
