{% extends "base.html" %}
{% block content %}

<main>

    <section class="boxs container" >
      <div class="box-top">
        <div class="box b1">
          <a href="#">
            <h2 class="title-main-page">بازنشانی</h2>
            <p class="desc-main-page">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
            </p>
          </a>
        </div>

        <div class="box">
          <a href="#">
            <h2 class="title-main-page">جمع آوری داده</h2>
            <p class="desc-main-page">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
            </p>
          </a>
        </div>

        <div class="box">
          <a href="{{url_for('camera_view')}}">
            <h2 class="title-main-page">نمای کلی</h2>
            <p class="desc-main-page">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
            </p>
          </a>
        </div>
      </div>

      <div class="box-middle">
        <div class="box">
          <a href="#">
            <h2 class="title-main-page">هشدار ها</h2>
            <p class="desc-main-page">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
            </p>
          </a>
        </div>

        <div class="box">
          <a href="{{url_for('cameras')}}">
            <h2 class="title-main-page">لیست دوربین ها</h2>
            <p class="desc-main-page">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
            </p>
          </a>
        </div>
      </div>

      <div class="box-botton ">
        <div class="box">
          <a href="{{url_for('zones')}}">
            <h2 class="title-main-page">منطقه</h2>
            <p class="desc-main-page">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
            </p>
          </a>
        </div>
      </div>
    </section>
  </main>


{%endblock%}
