{% extends "base.html" %}
{% block content %}
<div class="main-cam">
    <div class="main-cam-list">
        <h1>لیست دوربین ها </h1>
        <div class="cam-list-container">
            <h3>نمایش دوربین ها</h3>

            <div class="single-cam-container">
                <div class="camera-image-container">
                    <img src="{{ url_for('static', filename='image/First-time France_ where to go and what to do - Lonely Planet.jpg')}}" alt="Camera Image">
                </div>
                <div class="single-cam-list">
                    <div class="single-cam">
                        <p>دوربین IP:</p>
                    </div>
                    <div class="single-cam">
                        <p>نام دستگاه:</p>
                    </div>
                    <div class="single-cam">
                        <p>نوع دستگاه:</p>
                    </div>
                    <div class="single-cam">
                        <p>منطقه:</p>
                    </div>
                </div>
            </div>
            <div class="single-cam-container">
                <div class="camera-image-container">
                    <img src="./First-time France_ where to go and what to do - Lonely Planet.jpg" alt="Camera Image"> <!-- Placeholder Image -->
                </div>
                <div class="single-cam-list">
                    <div class="single-cam">
                        <p>دوربین IP:</p>
                    </div>
                    <div class="single-cam">
                        <p>نام دستگاه:</p>
                    </div>
                    <div class="single-cam">
                        <p>نوع دستگاه:</p>
                    </div>
                    <div class="single-cam">
                        <p>منطقه:</p>
                    </div>
                </div>
            </div>
            <div class="single-cam-container">
                <div class="camera-image-container">
                    <img src="{{url_for('static' , filename= 'static/images/netixlogo.png')}}" alt="Camera Image"> <!-- Placeholder Image -->
                </div>
                <div class="single-cam-list">
                    <div class="single-cam">
                        <p>دوربین IP:</p>
                    </div>
                    <div class="single-cam">
                        <p>نام دستگاه:</p>
                    </div>
                    <div class="single-cam">
                        <p>نوع دستگاه:</p>
                    </div>
                    <div class="single-cam">
                        <p>منطقه:</p>
                    </div>
                </div>
            </div>
            <div class='add-cam'><a href="{{url_for('add_camera')}}"><button class='btn'>افزودن دوربین</button></div></a>
            
        </div>

    </div>
{%endblock%}