{% extends "base.html" %}
{% block title %}login{% endblock title %}
{% block content %}
<div class="login_container">
    <div class="logo_container">
        <img src="{{url_for('static' , filename = 'images/netixlogo.png')}}" alt="Logo">
    </div>
    <div class="form_container">
        <form action="#" method="post">
            <label for="username">نام کاربری</label>
            <input type="text" name="username" id="username"/>
            <label for="password">رمز عبور</label>
            <input type="password" name="password" id="password"/>
            <button type="submit">ورود</button>
        </form>
    </div>
</div>
{% endblock content %}