{% extends "base.html" %} {% block content %}

<!-- Backdrop for the Modal -->
<div class="backdrop-modal" id="recordBackdrop" style="display:block;"></div>

<!-- Modal Popup -->
<div class="record-calendar-modal" id="calendarModal">
  <div class="pick-calendar">
    <p>بازنشانی</p>
    <p>برای بازنشانی ویدیو زمان و ساعت مورد نظر خود را وارد نمایید...</p>
  </div>

  <div class="times-container">
    <!-- Date Section in calendar-container -->
    <div class="calendars-container">
      <p>تاریخ:</p>
      <div class="calendar-items">
        <!-- Start Date Selection -->
        <div class="calendar-item">
          <b id="startDate">1403/08/12</b>
          <button class="calendar-icon" id="openCalendarButton1"></button>
        </div>
        <span>تا</span>
        <!-- End Date Selection -->
        <div class="calendar-item">
          <b id="endDate">1403/08/12</b>
          <button class="calendar-icon" id="openCalendarButton2"></button>
        </div>
      </div>
    </div>

    <div class="clock-container">
      <p>ساعت:</p>
      <div class="clock-items">
        <!-- Start Time Selection -->
        <div class="clock-item">
          <span class="clock-icon"></span>
          <input type="time" id="startTime" placeholder="-:-:-" />
        </div>
        <span>تا</span>
        <!-- End Time Selection -->
        <div class="clock-item">
          <span class="clock-icon"></span>
          <input type="time" id="endTime" placeholder="-:-:-" />
        </div>
      </div>
    </div>
  </div>

  {% include "calendar.html" %}
  <!-- Action Buttons -->
  <div class="record-button-group">
    <button class="record-cancel-btn" id="closeModalBtn">انصراف</button>
    <button class="record-save-btn">تایید</button>
  </div>
</div>


<script src="{{ url_for('static', filename='scripts/record.js') }}"></script>

{% endblock content %}
