{% extends "base.html" %} {% block title %}ثبت نام{% endblock title %} {% block
  content %}
  <div class="login_container">
    <div class="logo_container">
      
    </div>
    <div class="form_container">
      
      <div class="login wrap">
        <div class="h1">ثبت نام</div>
        <form action="{{ url_for('users.register') }}" method="post">
            
            <input placeholder="نام کاربری" id="username" name="username" type="text" required>
            <input placeholder="رمز عبور" id="password" name="password" type="password" required>
            <input placeholder="ایمیل" id="email" name="email" type="email" required>
    
            <input value="ثبت نام" class="btn" type="submit">
        </form>
        <div class="already-account">
            <span>اکانت دارید؟<a href="{{ url_for('users.login') }}"> ورود</a></span>
        </div>
    </div>
    
  </div>
  
  {% endblock %}