{% extends "base.html" %}
{% block title %}تنظیمات{% endblock title %}
{% block content %}

<div class="main-setting-container">
    <div class="setting-container">
        <h2>تنظیمات</h2>
        <div class="setting-items">
            <div class="single-container">
                <a href="#"><p>مدیریت کاربران </p></a>
            </div>
            <div class="single-container">
                <a href="#"><p>ای پی ماژول هوش مصنوعی </p></a>
            </div>
            <div class="single-container">
                <a href="#"><p>ای پی ماژول ضبط</p></a>
            </div>
            <div class="single-container">
                <a href="#"><p>ضبط دوربین</p></a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}