{% extends "base.html" %}
{% block title %}مدیریت کاربران 
{% endblock title %}
 
{% block content %}
<div class="setting-container">
  <div class="content">
      <a href="{{url_for('setting.setting')}}" class="load-content" ><p class="public-titl">عمومی</p></a>
      <a href="{{url_for('users.user_manage')}}" class="load-content"><p>مدیریت کاربران</p></a>
  </div>
<!-- Sidebar -->
<div class="sidebar">
  <div class="search-box">
      <input type="text" placeholder="جست‌وجو...">
      <span class="search-icon-setting"></span>
      <b>مدیریت کاربران</b>
  </div>
  <div class="setting-options" id="setting-options">
      <div class="users-container">
          <div class="users-header-option">
              <h4 class="table-title">لیست کاربران</h4>
              <button id="add-user-button" class="add-user-btn">افزودن کاربر+</button>
          </div>
          <table class="main-table">
            <thead class="table-header">
              <tr class="header-row">
                <th class="header-cell-numbers"></th>
                <th class="header-cell">تصویر</th>
                <th class="header-cell">نام </th>
                <th class="header-cell">نام خانوادگی</th>
                <th class="header-cell">نام کاربری</th>
                <th class="header-cell">ویرایش</th>
                    <th class="header-cell">حذف</th>
                  </tr>
            </thead>
            <tbody class="table-body">
              {% for user in users %}
              {% if loop.index >= 1 %}  {# Jinja2 loop index starts from 1 #}
                <tr class="body-row" data-username="{{ user.username }}">
                    <td class="body-cell-number"><span class="row-number" lang="fa">{{ loop.index| persian }} </span></td>
                    <td class="body-cell"><img src="#" alt="pic"></td>
                    <td class="body-cell">{{user.name}}</td>
                    <td class="body-cell"> {{user.last_name}}</td>
                    <td class="body-cell">{{user.username}}</td>
                    <td class="body-cell">
                        <button class="edit-user-edit-btn edit-btn"></button>

                    </td>
                    <td class="body-cell">
                        <button class="delete-user-btn delete-btn" data-username="{{ user.username }}" onclick="deleteUser(this)">
                        </button>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
            
          </table>
        </div>

  </div>
  
</div>
<script src="{{url_for('static' ,filename='scripts/users.js')}}"></script>

      
        
      
{% endblock content %}  



    