{% extends "base.html" %} {% block content %}
<!-- Main Content -->
<div class="main-zone">
  <div class="search-box">
    <input type="text" placeholder="جست‌وجو..." />
    <span class="search-icon-setting"></span>
    <b>لیست مناطق</b>
  </div>
  <div class="zone-container">
    <div class="zone-body">
      <div class="zone-main-content">
        <table class="zone-table">
          <thead>
            <tr>
              <th class="numbers-list"></th>
              <th class="zone-name">نام منطقه</th>
              <th class="zone-desc">توضیحات</th>
              <th class="view-cameras-list">لیست دوربین‌ها</th>
            </tr>
          </thead>
          <tbody>
            {% for zone in zones %} 
            {% if loop.index >= 1 %} 
            <tr class="zone-body-row" 
                data-zone-id="{{ zone.zone_id }}" 
                data-zone-name="{{ zone.zone_name }}" 
                data-zone-description="{{ zone.zone_desc }}"
            >
              <td class="body-cell-number">
                <span class="row-number" lang="fa">{{ loop.index| persian }} </span>
              </td>
              <td>{{zone.zone_name}}</td>
              <td>  {{zone.zone_desc}} </td>
              <td>
              <button class="view-btn" data-zone-id="{{ zone.zone_id }}"></button>
            </td>
            </tr>
            {% endif %} 
            {% endfor %}
          </tbody>
        </table>
        </div>
      <div class="zone-sidebar">
        <h3 class="zone-title">افزودن منطقه جدید</h3>
        <form id="zoneForm" action="{{ url_for('zone.add_zone') }}" method ="post">
            <input type="text" id="zoneName" class="zone-input" name="zone_name" placeholder="نام منطقه" />
            <textarea id="zoneDescription" class="zone-description" name="zone_desc" placeholder="توضیحات"></textarea>
            
          <!-- Button Group -->
          <div class="button-group" id="buttonGroup">
            <!-- Initially hidden; will replace "افزودن" button -->
            <button class="zone-add-btn">افزودن</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Backdrop and Modal -->
<div class="backdrop-modal"></div>
<div class="zone-camera-list camera-list-modal" style="display:none;">
  <h4>منطقه شماره 5</h4>
  <div class="cam-list-table">
    <table class="zone-table">
      <thead>
        <tr>
          <th class="numbers-list"></th>
          <th>ادرس ip</th>
          <th>نام دستگاه</th>
          <th>نوع دستگاه</th>
          <th>نام منطقه</th>
          <th class="camera-list-view-btn"></th>
        </tr>
      </thead>
      <tbody id="cameraListBody">
      </tbody>
    </table>
  </div>
  <div class="down-nav">
    <button class="close-modal-btn">بازگشت</button>
  </div>
</div>


<script src="{{url_for('static' ,filename='scripts/zones.js')}}"></script>
<script>
</script>

{% endblock content %}
