*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* Import Vazirmatn font from a CDN */
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

/* Import Rubik font from a CDN */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {

  --clr-main-dark: #161616;
  --clr-sec-dark: #777777;
  --clr-main-light: #f5f3f3;
  --clr-sec-light: #cefdd3;

  --clr-lightGray: #c2c1c1;


  --clr-font-dark: #000;
  --clr-font-light: #fff;
  
 
  --font-family-fa: "Vazirmatn", sans-serif; 
  --font-family-en: "Rubik", sans-serif;     

 
  --content-margin: 20px;
  --content-padding: 10px;
}


html {
  font-size: 62.5%; 
}

body {
  font-size: 1.7rem; 
  direction: rtl;    
  font-family: var(--font-family-fa); 
  position: relative;
  transition: all 0.3s;
  background-color: #131F13;
  color: var(--clr-font-dark);
  padding: 0;
  margin: 0;
}

.english-text {
  font-family: var(--font-family-en);
}


h1, h2, h3, h4, h5, h6, p {
  color: var(--clr-font-dark);
}

/* login */
.login_container {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 90vw; 
  height: 90vh; 
  max-width: 1400px; 
  max-height: 800px; 
  margin: auto;
  border: none;
  overflow: hidden; 
}

.first_page{
  display: flex;
  width: 100%;
  height: 100%; 
  border-radius: 8px;
  overflow: hidden;
}

.left {
  background-color: #131F13;
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-container {
  width: 40%;
  }

.logo {
  width: 100%;
}

.right {
  flex: 1;
  margin: 0; 
  padding: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.form-container {
  background-color: #304D30;
  padding: 30px;
  border-radius: 8px;
  border-radius: 12px;
  width: 80%;
  height: 80%;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.tab-link {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 18px;
  margin: 0 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.tab-link.active {
  border-bottom: 2px solid #fff;
}

.form-title {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
}
.forms{
  background-color: #304D30;
  padding: 20px;
  width: 100%;
  max-width: 600px; 
  height: 100%;
  overflow-y: auto; 
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 50px;
}
.forms h2{
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 50px;
  font-variation-settings:"slnt" 0;
  margin: 40px;
  padding: 20px;
}


#login form,
#register form {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-end;
}

#login input, #register input {
  width: 100%; 
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  
}
#login input[type="text"], 
#login input[type="password"], 
#login input[type="email"], 
#register input[type="text"], 
#register input[type="password"], 
#register input[type="email"] {
  width: 80%; 
  height: 70px; 
  padding: 15px;
  border-radius: 10px; 
  background-color: #EBEBEB; 
  color: #333; 
  font-size: 16px;  
  margin-bottom: 15px; 
  box-sizing: border-box;
  margin: 0 auto; 
  margin-bottom: 10px; 
}

#login input::placeholder,
#register input::placeholder {
  color: #828f86; 
}



.checkbox-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 30px;
}

#login label, 
#register label {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  margin: 20px;
  gap: 10px;
  font-size: 18px;
  
}


#login input[type="checkbox"], 
#register input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  transition: all 0.3s;
}

#login input[type="checkbox"]:checked ~ .checkmark,
#register input[type="checkbox"]:checked ~ .checkmark {
  background-color: #ffffff;
  border-color: #ffffff;
}

#login input[type="checkbox"]:checked ~ .checkmark:after,
#register input[type="checkbox"]:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#login:hover input[type="checkbox"] ~ .checkmark,
#register:hover input[type="checkbox"] ~ .checkmark {
  border-color: #ffffff;
}

#login input::placeholder,
#register input::placeholder {
  color: #828f86;
}
#login input[type="checkbox"]:disabled ~ .checkmark,
#register input[type="checkbox"]:disabled ~ .checkmark {
  opacity: 0.5;
  cursor: not-allowed;
}

#login input[type="checkbox"]:disabled ~ .checkmark:hover,
#register input[type="checkbox"]:disabled ~ .checkmark:hover {
  border-color: #4d4d4d;
}


.submit-btn {
  width: 70%; 
  margin: 0 auto; 
  padding: 10px;
  background-color: #124076;
  border: none; 
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  height: 40px;
  text-align: center;
}

.submit-btn:hover {
  background-color: #062e0d;
}

.tab-content {
  display: none;
  transition: opacity 0.3s ease-in-out; 
  max-height: calc(100vh - 200px); 
  overflow-y: auto; 

}

.tab-content.active {
  display: block;
}

