/* General Dropdown Styles */
.custom-dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.dropdown-label {
  margin-bottom: 5px;
}

.selected {
  /* border: 1px solid var(--Main-Gray-Light---1); */
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background: var(--clr-font-light);
  font-size: 14px;
}

.options {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
}

.option {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #e9f5ff;
}

.custom-select.active .options {
  display: block;
}

/* Checkbox Styles */
.custom-checkbox {
  display: block;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.custom-checkbox:hover {
  background-color: #b1cef0;
}

.checkbox {
  margin-left: 10px;
  cursor: pointer;
}

.label-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  background: var(--clr-font-light);
}

/* Custom Focus and Icon Animation */
.select-location-box {
  position: relative;
  margin-bottom: 10px;
}

.select-location-box svg {
  position: absolute;
  top: 10px;
  left: 10px;
  fill: rgb(0, 0, 0);
  transition: all 0.3s;
}

.custom-select.active svg {
  transform: rotate(180deg);
}

.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  width: 100%;
}

.custom-select select:focus {
  outline: none;
}

.selected-location {
  width: 100%;
  padding: 10px;
}

.bottom-options {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
}
