
/* overall view style  */
.overall-view-container {
    background: var(--Main-Gray-Light---2, #D7D7D7);
    box-shadow: 0px 0px 15px 0px #00000026;
    border-radius: 10px;
    margin: 30px;
  
  }
  
  .grid-container {
    display: grid;
    gap: 10px; 
    height: 100%;
    width: 100%;
    /* margin: 20px ; */
  }
  
  .grid-container .layout-1{
    width: 100%;
    aspect-ratio: 16/9;
  }
  
  .layout-1 {
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: 1fr;    /* 1 row */
  }
  
  .layout-4 {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
  }
  
  .layout-9 {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr);    /* 3 rows */
  }
  
  .layout-16 {
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(4, 1fr);    /* 4 rows */
  }
  .layout-1 .grid-item{
    display: flex;
    padding: 0;
  }
  .layout-1 .placeholder {
    width: 150vh;    
    height: 60vh;  
  }
  .layout-9 .placeholder {
    width: 50vh;    
    height: 30vh;   
  }
  .layout-16 .placeholder {
    height: 215px;
    width: 385px;
    font-size: 10px;
    text-align: center;
  }
  .layout-16 .camera-header-overlay {
    font-size: 2px;
    text-align: right;
  }
  .layout-16 .camera-header-right{
    font-size: 10px;
    text-align: right;
  }
  .layout-16 .camera-header-left p{
    font-size: 5px;
    text-align: left;
  }
  
  
  .grid-item {
    display: flex;             
    justify-content: center;    
    align-items: center;         
    overflow: hidden;           
    height: 100%;       
    background: var(--Main-Gray-Light---1, #BDBDBD);
    border: 2.03px solid var(--Main-Gray-Dark---3, #828282);
  }
  
  .placeholder {
    text-align: center;
    font-size: 18px;
    color: #fff;
    height: 215px;
    width: 385px;
    border-radius: 10px;
  }
  
  .placeholder img {
    width: 60%; 
    height: auto; 
  }
  
  .overall-camera-container {
    position: relative;
    border: 1px solid var(--Main-Gray-Dark---3, #828282);
    overflow: hidden;
    margin: 10px;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  .overall-camera-container img{
    width: 100%;
    box-shadow: 0px 0px 35.22px 0px #00000026;
  
  }
  .placeholder img {
    width: 60%;
    height: auto;
  }
  
  
  
  .camera-header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background: #02060C80;
    color: var(--clr-font-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .camera-header-right,
  .camera-header-left {
    display: flex;
    align-items: center;
  }
  
  .camera-header-zone {
    margin-right: 5px;
  }
  
  .camera-header-time {
    font-family: monospace;
    font-size: 20px ;
  }
  
  
  
  .camera-header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background: #02060C80;
    color: var(--clr-font-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .camera-header-right,
  .camera-header-left {
    display: flex;
    align-items: center;
  }
  
  .camera-header-zone {
    margin-right: 5px;
  }
  
  .camera-header-time {
    font-family: monospace;
  }
  
  /* Fullscreen button */
  button.fullscreen-btn {
    background-color: #124076;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin: 10px;
    width: 10%;
    text-align: center;
  }
  
  /* Split view buttons and styles */
  .split-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    background: var(--Main-Gray-Light---2, #D7D7D7);
    border-top: 2px solid var(--Main-Gray-Light---1, #BDBDBD);
    position: relative;
    width: 100%;
  }
  
  
  .split-buttons-group {
    display: flex;
    align-items: center;
    border: 1px solid var(--Main-Green-Light---2, #6D876D);
    margin: 15px;
    border-radius: 5px;
  }
  
  .split-buttons-group button {
    color: var(--Main-Green-Light---2, #6D876D);
    padding: 8px 12px;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .split-buttons-group button:active {
    background: var(--Main-Green, #304D30);
    color: var(--clr-font-light);
  }
  .split-buttons-group-button:hover {
    background: var(--Main-Green-Light---1);
    color: var(--clr-font-light);
  }
  
  .arrow-right-circle:hover , .arrow-left-circle:hover{
    filter: invert(100%) sepia(8%) saturate(31%) hue-rotate(268deg) brightness(106%) contrast(106%);
  }
  

  
/* ///////////////////////////// full screen /////////////////////////// */
.full-screen-container{
    padding: 5px;
  }
  
  .full-grid-container{
    display: grid;
    gap: 10px;
    height: 100%;
    width: 100%;
    /* margin: 20px; */
  }
  .full-grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    background: var(--Main-Gray-Light---1, #BDBDBD);
    border: 2.03px solid var(--Main-Gray-Dark---3, #828282);
  }
  .overall-fullscreen-container{
    position: relative;
    border: 1px solid var(--Main-Gray-Dark---3, #828282);
    overflow: hidden;
    margin: 10px;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  .overall-fullscreen-container img{
    width: 100%;
  }
  
  