*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* Import Vazirmatn font from a CDN */
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

/* Import Rubik font from a CDN */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {

  --clr-main-dark: #161616;
  --clr-sec-dark: #777777;
  --clr-main-light: #f5f3f3;
  --clr-sec-light: #cefdd3;

  --clr-lightGray: #c2c1c1;


  --clr-font-dark: #000;
  --clr-font-light: #fff;
  
 
  --font-family-fa: "Vazirmatn", sans-serif; 
  --font-family-en: "Rubik", sans-serif;     

 
  --content-margin: 20px;
  --content-padding: 10px;
}


html {
  font-size: 62.5%; 
}

body {
  font-size: 1.7rem; 
  direction: rtl;    
  font-family: var(--font-family-fa); 
  position: relative;
  transition: all 0.3s;
  /* background-color: #131F13; */
  color: var(--clr-font-dark);
  padding: 0;
  margin: 0;
}

.english-text {
  font-family: var(--font-family-en);
}


h1, h2, h3, h4, h5, h6, p {
  color: var(--clr-font-dark);
}

.container {
  max-width: 85%;
  margin: 0 auto;
  margin-left: 0;
  height: 20%;
  
}

button {
  all: unset;
  cursor: pointer;

}
/* header */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  border: 1px solid #828282;
  background-color: #D7D7D7;
}

.nav-logo {
  font-family: var(--font-family-en);
  font-size: 2rem;
  font-weight: 900;
}

.menu-btns {
  display: flex;
  align-items: center;
  padding: 5px;
}

.menu-btns button {
  padding: 3px 5px;
  margin-inline: 3px;
}

.menu-btns button:nth-child(1),
.menu-btns button:nth-child(2) {
  border-radius: 10px;
  transition: all 0.3s;
}

.menu-btns button:nth-child(1) a,
.menu-btns button:nth-child(2) a, 
.menu-btns button:nth-child(3) a, 
.menu-btns button:nth-child(4) a {
  color: var(--clr-font-dark);
}

.switch {
  --transition: 300ms;
  --transition500: 500ms;
  --color-dark: #0c0f14;
  --color-darkGray: #21262e;
  --color-gray: #52555a;
  --color-offwhite: #cecece;
  --shadow-color: var(--color-dark);
  position: relative;
  display: flex;
  align-items: center;
  width: 60px;
  height: fit-content;
  background-color: var(--color-dark);
  border-radius: 30px;
  padding: 4px;
  transition: var(--transition500);
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}

/* Svg styles */
.switch .svg {
  transition: var(--transition);
  position: absolute;
  left: 5px;
}
.switch .moon {
  width: 18px;
  fill: var(--color-gray);
  opacity: 1;
}

.switch .sun {
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: calc(100% - 21.5px);
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0.8;
  opacity: 0;
}

.switch .sun .dot {
  position: relative;
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--color-dark);
  background: white;
  z-index: 1;
  box-shadow: 11px 0px 0px var(--shadow-color),
    10.3px 0px 0px var(--shadow-color), -11px 0px 0px var(--shadow-color),
    -10.3px 0px 0px var(--shadow-color), 0px -11px 0px var(--shadow-color),
    0px -10.3px 0px var(--shadow-color), 0px 11px 0px var(--shadow-color),
    0px 10.3px 0px var(--shadow-color), 8px 8px 0px var(--shadow-color),
    7.3px 7.3px 0px var(--shadow-color), 8px -8px 0px var(--shadow-color),
    7.3px -7.3px 0px var(--shadow-color), -8px -8px 0px var(--shadow-color),
    -7.3px -7.3px 0px var(--shadow-color), -8px 8px 0px var(--shadow-color),
    -7.3px 7.3px 0px var(--shadow-color);
}

.switch .sun .dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  border: 2px solid var(--color-dark);
}

/*checkbox styles */
.switch .circle {
  appearance: none;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 0;
  background-color: var(--color-darkGray);
  border: 1px solid var(--color-darkGray);
  transition: var(--transition500);
  box-shadow: 1px 1px 20px 3px var(--color-darkGray);
}

.switch:has(.circle:checked) {
  background: var(--color-offwhite);
}

.switch .circle:hover {
  margin-left: 3px;
}
.switch .circle:checked:hover {
  margin-left: -3px;
}

.switch .circle:checked {
  left: calc(100% - 24px);
  background: white;
  border-color: white;
  box-shadow: 1px 1px 30px 12px white;
}

.switch:has(.circle:checked) > .sun {
  opacity: 1;
}

.switch:has(.circle:checked) > .moon {
  opacity: 0;
}


@media screen and (min-width: 768px) {
  .menu-btns button {
    padding: 5px 15px;
    margin-inline: 3px;
  }
  nav {
    padding-inline: 30px;
  }
}

/* camera list */


.main-cam-list {
  display: flex;               
  flex-direction: column;      
  margin: 50px 0 0 50px;     /* 50px margin at top and right */
  padding: 20px;               /* 20px padding */
  gap: 20px;                  
  border-radius: 10px;  
  font-size: 2rem;   

}

.cam-list-container {
  display: flex;              
  flex-direction: column;      
  gap: 15px;                   
  padding: 10px;               
  border-radius: 10px;
  margin-bottom: 20px;  
  padding: 10px;       
}

.cam-list-container h1{
  padding-bottom: 20px;
}

.single-cam-container {
  display: flex;               
  flex-direction: row-reverse; 
  align-items: center;         
  gap: 20px;                   
  background-color: var(--clr-sec-dark);            
  border-radius: 10px;        
  padding: 10px;               
}
.single-cam-list {
  display: flex;               
  flex-direction: column;      
  gap: 10px;                   
  flex-grow: 1;       
}

.single-cam {
  padding: 10px;               
  border-radius: 5px;
       
}

.single-cam p {
  margin: 0;                  
}

.camera-image-container img {
  width: 200px;                
  height: 200px; 
  background-color: var(--clr-sec-dark);               
  border-radius: 10px;         
}

.add-cam .btn{
  display: flex;              
  justify-content: flex-end;  
  margin-top: 20px; 
  
}
/* add camera form */



.add-zone-frm {
  background: var(--clr-sec-dark); 
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  transition: background 0.3s, color 0.3s; 
}

.add-zone-container {
  display: flex;
  flex-direction: column;
}

.add-zone-frm {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  background-color: var(--clr-sec-dark);
  max-width: 500px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.add-zone-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
}

.add-zone-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-zone-container input,
.add-zone-container select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--clr-sec-dark);
  border-bottom: 1px solid darkgray;
  color: rgb(255, 255, 255);
  font-size: 14px; 
}

.add-zone-container input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}



.add-zone-container button[type="submit"] {
  align-self: flex-start;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--clr-primary); 
  color: white;
  font-size: 16px; 
}

.add-zone-container button[type="submit"]:hover {
  background-color: var(--clr-primary-dark);
}

/* zone lists */ 


.main-zone-list {
  display: flex;               
  flex-direction: column;      
  margin: 50px 0 0 50px;     /* 50px margin at top and right */
  padding: 20px;               /* 20px padding */
  gap: 20px;                  
  border-radius: 10px;     
  font-size: 2rem;
    

}

.zone-list-container {
  display: flex;              
  flex-direction: column;      
  gap: 15px;                   
  padding: 10px;               
  border-radius: 10px;
  margin-bottom: 20px;  
  padding: 10px;       
}

.zone-list-container h1{
  padding-bottom: 20px;
}

.single-zone-container {
  display: flex;               
  flex-direction: row-reverse; 
  align-items: center;         
  gap: 20px;                   
  background-color: var(--clr-sec-dark);            
  border-radius: 10px;        
  padding: 10px;               
}
.single-zone-list {
  display: flex;               
  flex-direction: column;      
  gap: 10px;                   
  flex-grow: 1;       
}

.single-zone {
  padding: 10px;               
  border-radius: 5px;
       
}

.single-zone p {
  margin: 0;                  
}

.zone-image-container img {
  width: 200px;                
  height: 200px; 
  background-color: var(--clr-sec-dark);               
  border-radius: 10px;         
}

.add-zone .btn{
  display: flex;               /* This creates a flex container */
  justify-content: flex-end;   /* Aligns the button to the right */
  margin-top: 20px; 
  
}


/* side menu */

.dashboard {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #304D30;
  width: 250px;
  z-index: 200;
  transition: all 0.8s;
  font-size: 2rem;
}

.show-menu {
  transform: translateX(0); /* This can remain if you want an animation for showing the menu */
}


/* add camera */


.add-camera-frm {
  background: var(--clr-sec-dark);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  transition: background 0.3s, color 0.3s; 
  font-size: 2rem;
}

.add-cam-container {
  display: flex;
  flex-direction: column;
}

.add-camera-frm {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  background-color: var(--clr-sec-dark);
  max-width: 500px; /* Limit the width for better readability */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
}

.add-cam-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
}

.add-cam-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-cam-container input,
.add-cam-container select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--clr-sec-dark);
  border-bottom: 1px solid darkgray;
  color: rgb(255, 255, 255);
  font-size: 1.5rem; 
}

/*api prperties*/

/* select.ai_property {
  width: 100%; 
  padding: 0.5rem; 
  font-size: 1rem; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s; 
}

select.ai_property:focus {
  border-color: linear-gradient(144deg, #8b1bdb, #5b42f3 50%, #2dc1d1); 
  background-color: #fff; 
}

option {
  padding: 0.5rem; 
  background-color: #fff; 
}

option:hover {
  background-color:linear-gradient(144deg, #8b1bdb, #5b42f3 50%, #2dc1d1); 
}
.add-cam-container input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.add-cam-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center; 
  padding-right: 30px;
}

.add-cam-container select option {
  background-color: var(--clr-sec-dark);
} */


.add-cam-container button[type="submit"] {
  align-self: flex-start;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--clr-primary); 
  color: white; 
  font-size: 2rem;
}

.add-cam-container button[type="submit"]:hover {
  background-color: var(--clr-primary-dark);
}


.video_container {
  position: relative;
  width: 90%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-right: 40px;
  
}

/* Default layout when 1 camera is displayed */
.video-player {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  border-radius: 30px;
  aspect-ratio: 16 / 9;
}

.grid-container {
  display: grid;
  gap: 5px;
  height: 100%;
  width: 100%;
  padding: 0;
}

/* Layout specific styles */
.layout-1 .grid-container {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.layout-4 .grid-container {
  grid-template-columns: repeat(2, .5fr);
  grid-template-rows: repeat(2, .5fr);
}

.layout-9 .grid-container {
  grid-template-columns: repeat(3, .33fr);
  grid-template-rows: repeat(3, .33fr);
}

.layout-16 .grid-container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: 2px solid #444;
  border-radius: 10px;
  position: relative;
  aspect-ratio: 16 / 9; 
}

.grid-item img, 
.camera-view img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  padding: 10px;
  max-width: 90%; 
  max-height: 90%; 
  margin-bottom: auto;
}

.placeholder {
  text-align: center;
  font-size: 18px;
}


.controls {
  position: fixed;
  bottom: 20px;
  left:0;
  margin: 10px ;
  margin-left:80px ;
  background: #585858;  
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  border-radius: 5px;
  min-height: 50px;
}

.controls p {
  color: var(--clr-font-light);
}
.view-btn {
  color: var(--clr-font-light); 
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-family-en); 
}

.view-btn:hover {
  background: linear-gradient(144deg, #4a36b0, #29a4b0); 
  color: var(--clr-font-light);
}

/* Control buttons within the .controls section */
.control-btn {
  color: var(--clr-font-light); 
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-family-en); 
  background: #444;
}

.control-btn:hover {
  background: linear-gradient(144deg, #4a36b0, #29a4b0); 
  color: var(--clr-font-light);
}

input[type="range"] {
  margin-left: 10px;
  -webkit-appearance: none; 
  height: 5px; 
  border-radius: 5px; 
  cursor: pointer;
  color: var(--clr-font-light);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  width: 15px; 
  height: 15px; 
  border-radius: 50%; 
  background: var(--clr-lightGray); 
}

input[type="range"]::-moz-range-thumb {
  width: 15px; 
  height: 15px; 
  border-radius: 50%; 
  background: var(--clr-lightGray); 
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding:20px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #666;
}

/*api prperties */


.multi-select {
  position: relative;
  display: inline-block;
}
.multi-select select {
  display: none; /* Hide the default select */
}
.select-box {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--clr-sec-dark);
  border-bottom: 1px solid darkgray;
  color: rgb(255, 255, 255);
  font-size: 1.5rem; 
}
.selected-items {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
}
.selected-item {
  color: var(--clr-font-light);
  padding: 2px 5px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 2rem ;
}
.selected-item .remove-item {
  margin-left: 5px;
  cursor: pointer;
  color: white;
}

/* alert list */


.main-alerts {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 50px;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  font-size: 2rem;
}

.alert-list-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.alert-list-container h1 {
  padding-bottom: 20px;
  font-size: 2.5rem;
  color: var(--clr-font-dark);
}

.single-alert-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: var(--clr-sec-dark);
  border-radius: 10px;
  padding: 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.single-alert-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.single-alert {
  padding: 10px;
  border-radius: 5px;
  background-color: #7a7a7a;
}

.single-alert p {
  margin: 0;
  font-size: 1.5rem;
  color: var(--clr-main-dark); 
}

.alert-image-container img {
  width: 200px;
  height: 200px;
  background-color: var(--clr-sec-dark);
  border-radius: 10px;
  object-fit: cover; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}
/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.8); 
  padding-top: 60px;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  animation-name: zoom;
  animation-duration: 0.6s;
}

/*edit users */
.user-popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background-color:rgba(0, 0, 0, 0.5); 
  
}
.user-popup.show {
  opacity: 1;
  visibility: visible;
}

.edit-user-content {
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color:white;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 30px;
  background-color: #1f1f1f; 
  border-radius: 12px;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  color: #f1f1f1;
  position: relative;
}

.edit-user-content h1 {
  margin-bottom: 25px;
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-bottom: 2px solid #8949f8; 
  padding-bottom: 10px;
  text-align: center; }

.edit-user-content form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 20px; 
  
}

.edit-user-content label {
  font-weight: bold;
}

.edit-user-content input {
  flex: 1 1 100%; /* Make inputs and selects take the full width */
  padding: 12px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #2b2b2b;
  color: #fff;
  font-size: 16px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.edit-user-content button {
  background-color: #5b42f3; 
  border: 1px solid #5b42f3;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 10%;
  text-align: center;

}





/*setting */

.setting-container {
  display: flex;
  height: 90vh;
}

.sidebar {
    width: 70%;
    padding: 20px;
    height: 100%;
}


.search-box {
  margin-bottom: 20px;
  padding: 10px 15px;
  border-bottom: 1px solid #BDBDBD;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.search-box input[type="text"] {
  border: 1px solid #6D876D;
  font-size: 14px;
  height: 100%;
  padding: 10px 40px 10px 15px;
  border-radius: 10px;
  text-align: right;
  background-color: #f0f0f0;
  color: #6D876D;
  outline: none;
  transition: border-color 0.3s ease;

}
.search-box b{
  font-weight: bold;
  font-size: large;
}
.search-box .search-icon-setting {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('../images/search-normal.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  pointer-events: none; 
}

/* Hover/Focus effect for input field */
.search-box input[type="text"]:hover,
.search-box input[type="text"]:focus {
  border-color: #67815D;
}

.setting-options{
  background-color: #D7D7D7;
  width: 100%;
  height: 94%;
  border-radius: 15px;
  padding:5px 0;
}

.item-list {
    list-style: none;
}

.item {
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BDBDBD;
}

.item-list li:nth-child(2) {
  background-color: #EBEBEB; 
}
.item-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: 5px 15px;
}

.item-url {
    font-size: 14px;
    color: #B3261E;
    margin-right: auto;
    text-align: left;
}

.item-actions {
    display: flex;
    gap: 10px;
    border-right: 1px solid #BDBDBD;
    width: 10%;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    margin-right: 20px;
}

.edit-btn {
  width: 20px;      
  height: 20px;     
  background-image: url('../images/edit-2.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.delete-btn {
  width: 20px;      
  height: 20px;     
  background-image: url('../images/trash.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}

/*setting checkbox*/
.switch {
  position: relative;
  display: inline-block;
  width: 30px; 
  height: 18px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #234228; 
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}


input:checked + .slider {
  background-color: #D7D7D7; 
  border: 1px solid #a5a4a4;
}


input:checked + .slider:before {
  transform: translateX(12px); 
}

.content {
    width: 30%;
    background-color: #D7D7D7;
    margin: 15px;
    height: 100%;
    border-radius: 15px;
}

.content p {
   color: var(--clr-font-dark);
   padding: 20px ;
   text-align: right;
   font-weight: bold;
   font-size: large;
   width: 100%;
}

.content a p:hover {
  background-color: #8BA38B;
  border-radius: 10px;
}

.content a:focus {
  background-color: #8BA38B;
  border-radius: 10px;
}


/*user management */





/*add user form*/
.add_user_form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 30px;
  background-color: #1f1f1f; 
  border-radius: 12px;
  max-width: 1000px;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  color: #f1f1f1;
  position: relative;
}

.add_user_form h2 {
    margin-bottom: 25px;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 2px solid #8949f8; 
    padding-bottom: 10px;
    text-align: center; 
}

.add_user_form form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 20px; 
}

.add_user_form input[type="text"],
.add_user_form input[type="submit"],
.add_user_form select {
    flex: 1 1 100%; /* Make inputs and selects take the full width */
    padding: 12px;
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid #444;
    background-color: #2b2b2b;
    font-size: 16px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.options-container{
  display: flex;
  margin-bottom: 40px;
  justify-content: space-evenly;
}

.custom-select {
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 10px;
}

.custom-select h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.options-container {
  padding: 10px 0;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  margin: 8px 0;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

.custom-checkbox span {
  position: relative;
  padding-left: 30px; /* Space for the custom checkbox */
  cursor: pointer;
}

.custom-checkbox span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #8949f8;
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked + span::before {
  background-color: #8949f8; /* Checkbox background when checked */
  border-color: #8949f8; /* Border color when checked */
}

.custom-checkbox input[type="checkbox"]:checked + span::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 10%;
  width: 8px;
  height: 15px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}



.options-container label {
  display: block; /* Stack labels vertically */
  padding: 10px;
  cursor: pointer;
}

.options-container input[type="checkbox"] {
  margin-right: 5px; /* Space between checkbox and label */
}


.add_user_form input[type="text"]::placeholder {
    color: #bbb;
}

.add_user_form input[type="text"]:focus,
.add_user_form select:focus {
    border-color: #8949f8; 
    box-shadow: 0 0 5px #8949f8; 
}

.add_user_form input[type="submit"] {
    background-color: #5b42f3; 
    border: 1px solid #5b42f3;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: absolute; /* Position button absolutely */
    bottom: 20px; /* Adjust according to spacing */
    right: 20px; /* Align to the right */
}

.add_user_form input[type="submit"]:hover {
    background-color: #8949f8; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 10px rgba(137, 73, 248, 0.5); 
}

.add_user_form select {
    flex: 1 1 100%; 
    padding: 12px;
    margin: 5px 15px;
    border-radius: 8px;
    border: 1px solid #444;
    background-color: #333; 
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.add_user_form select:hover {
    background-color: #2a2a2a;
}

.add_user_form select option {
    background-color: #222; /* Darker options background */
    color: #fff;
    padding: 10px;
}

.add_user_form select:focus {
    border-color: #777;
}


/* data pop up */
.get-time {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.get-time.show {
  opacity: 1;
  visibility: visible;
}

.time-content {
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color:white;
}

.time-content h1 {
  margin-top: 0;
}

.time-content form {
  display: flex;
  flex-direction: column;
}

.time-content label {
  font-weight: bold;
}

.time-content input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
}

.time-content button {
  border: 1px solid #717171 ;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 30px;
  text-align: center;
}



/* window model*/
.modal {
  display: none; 
  z-index: 1000; 
  max-width: 500px;
  max-height: 500px;
  width: 100%; 
  height: 100%; 
  background-color:rgba(0, 0, 0, 0.5); 
  margin: 0 auto;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-top: 80px;
  border-radius: 30px;
}

.modal-content {
  background-color: #222;;
  margin: 15% auto;
  padding: 15%;
  border: 1px solid #888;
  width: 300px; 
  border-radius: 8px; 
  text-align: center; 
  color: white;
  display: flex;
  flex-wrap: wrap;
}
#confirmYes ,#confirmNo{
  background-color: #5b42f3; 
    border: 1px solid #5b42f3;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 40px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    
}






/* Add Animation */
@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.pagination a {
  padding: 8px 13px;
  background-color: #444;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.pagination a:hover {
  background-color: #666;
}
.pagination a.disabled {
  background-color: #888;
  cursor: not-allowed;
}






/* dashboard */



.dashboard {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
  width: 15%;

}
.main-style{
  margin-right: 250px;
  margin-bottom: 10px;
  height: 100%;
}

.dashboard ul {
  flex-direction: column;
  display: flex;
  justify-content: start;
  align-items: center;
}

.dashboard li i {
  font-size: 2.5rem;
  margin-inline: 10px;
  color: var(--clr-font-light);
}

.dashboard .dashboard-list {
  width: 100%;
  margin-top: 50px;
}

.dashboard .dahboard-list-down {
  border-top: 2px solid var(--clr-font-light);
  width: 100%;
  margin-top: auto;
  margin-bottom: 20px;
}

.dashboard li {
  width: 90%;
}

.dashboard li a {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s;
  border-radius: 5px;
}

.dashboard li p {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--clr-font-light);
}

.dashboard-logo {
  margin-top: 20px;
}

.dashboard li a:hover {
  background-color: #8BA38B;
}

.dashboard-moblie i {
  font-size: 2.5rem;
}




.boxs {
  margin-top: 50px;
  padding: 5px;
}

.box-top,
.box-middle,
.box-botton {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
  margin-top: 15px;
  padding: 5px;
}

.box {
  background-color: var(--clr-lightGray);
  border-radius: 30px;
  margin-top: 20px;
  padding: 35px 35px;
  width: 90%;
  border:1px solid var(--clr-sec-dark);
}

/*icons */

.home-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/home 1 (1).svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.item-icon{
  width: 30px;     
  height: 30px;     
  background-image: url('../images/arrow-down.svg'); 
  background-size: contain;    
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  position: absolute;
  left: 0;
}
.arrow-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/arrow-right.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
  margin-left: 0;
  position: absolute; 
  left: 0; 
  transform: translateY(-50%);
  padding-bottom: 10px;
}

.alert-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/danger.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.camera-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/security-camera 1 (1).svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.zone-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/pin 1.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.hr-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/people.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.useraction-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/shield-tick.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.backup-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/public-service 1.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.monitoring-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/monitor-recorder.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.setting-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/setting-2.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.logout-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/user-minus.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.bell-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/8541621_bell_alert_icon 1.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.user-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/Ellipse 5.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.help-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/Frame 88.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.user-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/Ellipse 5.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}
.ticket-icon{
  width: 20px;      
  height: 20px;     
  background-image: url('../images/ticket.svg');
  background-size: contain;    
  background-repeat: no-repeat;  
  background-position: center;
  border: none;      
  background-color: transparent; 
  cursor: pointer;   
  color: #000;
}

@media screen and (min-width: 768px) {
  .box-top .box {
    width: 30%;
  }

  .box-middle .box:nth-child(1) {
    width: 30%;
  }

  .box-middle .box:nth-child(2) {
    width: 62%;
  }

  .box-botton .box {
    width: 93%;
  }
}

.title-main-page {
  color: var(--clr-font-dark);
}

.desc-main-page {
  color: var(--clr-main-dark);
}

/* dark mode */

.bxs-moon {
  font-size: 2.5rem;
  background-color: var(--clr-lightGray);
  padding: 2px 8px;
  border-radius: 10px;
  margin-inline: 0;
  margin-right: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.bxs-moon:hover {
  background-color: var(--clr-sec-dark);
}

@media screen and (min-width: 768px) {
  .bxs-moon {
    padding: 4px 5px;
  }
}
.theme-dark body {
  background-color: var(--clr-main-dark); 
  color: var(--clr-font-light); 
  background-color: var(--clr-main-dark); 
  color: var(--clr-font-light); 
}

.theme-dark h1, 
.theme-dark h2, 
.theme-dark h3, 
.theme-dark h4, 
.theme-dark h5, 
.theme-dark h6,
.theme-dark p {
  color: var(--clr-font-light); 
  color: var(--clr-font-light); 
}
.theme-dark p {
  color: #eee;
}

.theme-dark h2 {
  color: var(--clr-font-light);
}

.theme-dark .box {
  background-color: var(--clr-sec-dark);
}

.theme-dark {
  background-color: var(--clr-main-dark);
}

.theme-dark i {
  color: var(--clr-font-light);
  border-color: var(--clr-font-light);
}

.theme-dark .dashboard {
  background-color: #1f1f1f;
}

.theme-dark li a p {
  color: var(--clr-font-light);
}

.theme-dark li a i {
  color: var(--clr-font-light);
}

.theme-dark li a:hover {
  background-color: var(--clr-lightGray);
}

.theme-dark .menu-btns button:nth-child(1),
.theme-dark .menu-btns button:nth-child(2) {
  background-color: var(--clr-sec-dark);
}

.theme-dark .menu-btns button:nth-child(1) a,
.theme-dark .menu-btns button:nth-child(2) a {
 color: var(--clr-font-light);
}

.theme-dark .menu-btns button:nth-child(1):hover,
.theme-dark .menu-btns button:nth-child(2):hover {
  background-color: var(--clr-lightGray);
}

.theme-dark .bxs-moon {
  background-color: var(--clr-sec-dark);
}

.theme-dark .bxs-moon:hover {
  background-color: var(--clr-lightGray);
}





